<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="album-style.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <title>Albums</title>
</head>

<body>
    <header>
        <ul id="menu">
            <li><a href="/album">Albums</a></li>
            <li><a href="/add-album">Add Album</a></li>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/add-song">Add Song</a></li>
        </ul>


    </header>
    <div class="container">
        <div class="card" th:each="album: ${albums}">
            <img th:src=${album.imageUrl}>
            <h3>Album Title: <span th:text=${album.title}></span></h3>
            <p>Artist: <span th:text=${album.artist}></span></p>
            <div class = "details-btn-container">
                <form class="form-style" th:action="@{'/album-details/' + ${album.id}}" method="GET">
                    <button id="details-btn">Details</button>
                </form>
            </div>
        </div>
    </div>


</body>

</html>